@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400');


* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: rgb(208, 220, 255);
}

.container {
    background-color: rgb(184, 188, 254);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: 2rem 24rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 3px solid rgb(78, 0, 195);
    border-radius: .5rem;
}

h4 {

    /* line-height: rem; */
    /* border: 0cap; */
    font-size: 2.5rem;
    text-decoration: none;
    background-color: rgb(184, 188, 254);
    /* font-family: Montserrat,serif; */
    margin: 0px;
}

.form {
    background-color: rgb(184, 188, 254);
    padding: 2rem 2rem;
    /* display: grid; */
    border-radius: .8rem;
    color: rgb(78, 0, 195);
    justify-content: center;
    align-items: center;
    border: none;
    display: flex;
}

.heading {
    background-color: rgb(184, 188, 254);
    padding: 1rem;
    padding-bottom: 0rem;
    text-align: center;
    /* display: block; */
    /* margin: auto; */
    border-radius: .8rem;
    color: rgb(78, 0, 195);
    /* justify-content: center; */
    /* align-items: center; */
    /* border: none; */
    /* display: ; */
}

input {
    display: block;
    padding: .6rem 1rem;
    padding-right: 2rem;
    margin: .28rem;
    text-decoration: none;
    border: none;
    border-radius: .6rem;
    font-size: 1.1rem;
}

.label {
    /* position: absolute; */
    /* left: 28rem; */
    /* top: 12.4rem; */
    display: block;
    background-color: rgb(184, 188, 254);
    color: rgb(70, 19, 224);
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    /* margin-right: 10px; */
    margin: .8rem;
}

input {
    line-height: 1.5;
    border: none;
    outline: none;
}

#taskinp {
    color: #545454;
}

.btn {
    text-decoration: none;
    padding: .6rem 1rem;
    margin: .8rem;
    font-size: 1.3rem;
    display: block;
    background-color: rgb(214, 224, 255);
    cursor: pointer;
    border: .2rem solid rgb(93, 118, 194);
    border-radius: .8rem;
}

.btn:hover {
    border: .2rem solid rgb(128, 155, 247);

    background-color: rgb(212, 215, 255);
}

#taskinp {
    border-radius: 2rem;
}

input {
    outline: none;
    border: none;
}

.wrap-input100 {
    /* width: 80%; */
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
    /* padding: 10px; */
    padding: 0px 10px;
    padding-right: 0px;
    border: 3px solid rgb(128, 155, 247);
}

.input100 {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;
    font-size: 1.34rem;
    line-height: 1.5;
    color: #666666;

    display: block;
    /* width: 100%; */
    height: 50px;
    width: 350px;
    border-radius: 0px;
    /* padding: 0 30px 0 20px; */
    /* Adjust padding to accommodate icon */
}

.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(91, 70, 184, 0.8);
}

.input100:focus+.focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 20px 15px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 20px 15px;
        opacity: 0;
    }
}

.input100:focus+.focus-input100+.symbol-input100 {
    color: #762b7a;
    padding-left: 8px;
}

::placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;
    font-size: 1.34rem;
    font-weight: 500;
}

i.ri-task-line {
    margin: 0;
    padding: 0 12px;
    padding-top: 9px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgb(78, 0, 195);
    ;
    color: rgb(184, 188, 254);
    height: 59px;
    font-size: 2.4rem;
    /* border: 3px solid rgb(128, 155, 247); */
    border-left: rgb(128, 155, 247) 3px solid;
}

.alltask-head {
    /* display: block; */
    /* margin: auto; */
    text-align: center;
    /* background-color: rgb(184, 188, 254); */
    color: rgb(70, 19, 224);
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    /* margin: .8rem; */
}
.single-task-form{
    display: flex;
    background-color: rgb(184, 188, 254);
    padding: 4rem 0rem;
    /* display: grid; */
    border-radius: .8rem;
    color: rgb(78, 0, 195);
    justify-content: center;
    align-items: center;
    border: none;
    display: flex;
}
.loading{
    display: block;
    margin: auto;
    margin: 5.5rem 0rem;
    font-size:1.6rem ;
    text-align: center;
    visibility: hidden;
}
.form-alert {
    color:#842029 ;
    letter-spacing: 1px;
    text-transform: capitalize;
  }

  .tasks {
    display: grid;
    gap: 1rem;
  }


  form > :first-child {
    margin-top: 0;
  }
  form > :last-child {
    margin-bottom: 0;
  }
  /* .single-task-form h4 {
    text-align: center;
  }
  
  .single-task-form .form-control {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    justify-items: start;
    gap: 0 1rem;
    margin-bottom: 0.75rem;
  }
  
  .single-task-form label {
    margin-bottom: 0;
    font-size: 1rem;
  } */
  
  .task-edit-completed {
    width: auto;
  }
  .back-link {
    text-decoration: none;
    padding: .6rem 1rem;
    margin: .8rem;
    font-size: 1.3rem;
    display: block;
    background-color: rgb(214, 224, 255);
    cursor: pointer;
    border: .2rem solid rgb(93, 118, 194);
    border-radius: .8rem;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    margin-top: 6rem;
  }
 
  
  .form-alert {
    text-align: center;
    margin-top: 1rem;
  }
  a{
    text-decoration: none;
  }
  


.task-form {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom:0px ;
}

.task-form > div {
    /* margin-bottom: 10px; */
    display: flex; 
    align-items: center; 
    background-color: rgb(184, 188, 254);
}

.task-form .label {
    font-weight: bold;
    /* flex: 1;  */
}

.task-edit-completed {
    /* flex: 0;  */
    padding: .6rem;
}

p{
    padding: 0.8rem;
    font-size: 1.2rem;
    /* display: none; */
    background-color: rgb(184, 188, 254);
    border-radius: .8rem;
}
.task-edit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 8rem;
    margin-top: 1.5rem;
}

.align{
    position: absolute;
    /* top: 0; */
    left: 41rem;
}

.task-edit-completed:checked {
    content: '\2713'; 
    font-size: 18px;
   
}

.task-edit-completed {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}